@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-dark-400 font-roboto
}

.anticon.ant-input-password-icon{
  @apply !text-cake-200
}
.anticon.ant-input-password-icon > svg{
  @apply w-4 h-4
}

.loading{
  animation: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s 1 normal both running loading;
}
@keyframes loading {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
}
100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.ant-select-single.ant-select-open .ant-select-selection-item{
  @apply !text-light-200
}
.ant-input-number-input{
  @apply !text-white
}